<<<<<<< HEAD
extend  ../layout/index

block contenido
    div    
      h2.text-center.text-2xl.font-extrabold  Inicia sesion 
=======
extends ../layout/index

block contenido 
    div    
        h2.text-center.text-6xl.font-extrabold Inicia Sesion 
>>>>>>> 8e982e57f9b6d5e5e4bca6860d89cd821e7940a7
