doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
<<<<<<< HEAD
        title Bienes Raices
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-50 
         
         main(class= "mx-auto container mt-10 px-2")
            block  contenido
=======
        title BienesRaices |
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-50 

        main(class="mx-auto-container mt-10 px-2")
            block contenido  
>>>>>>> 8e982e57f9b6d5e5e4bca6860d89cd821e7940a7
